language: node_js
node_js:
- '7.6'
- "6"

before_script:
- npm install

script:
- npm run test

after_success: bash ./bin/deploy.sh

env:
  global:
  - GIT_USER: Travis CI
  - GIT_EMAIL: yoheitaniguchi@users.noreply.github.com
  - GH_REF: git@github.com:yoheitaniguchi/wmap.git
  - secure: "JBQqEvJFJAzpKuGXOJx6lgjYMUPVIw6EN9EXLbeR/weUCd0k3LLJF9t36lbn5Zekl90CM/Y4XkQXMO7db0C1CZ0iwMEeiAHgNlKR3XYC8aYJEIsYvdmEefFvxsYfm1VK7BcP5/mhsEjfVVBUidJWLFriDcfOuchJt0TPft8LLswGnc585S4xmvUSKVsybDik1XhHxWrwrAFFnG53WEQg/XkirB0PW5CgP79HyGbIdRbJdcnnkhd4ey3QlmoiW4fPmXbtKeWzFqH47vOsQb0MeJjLIXjywXD1b4xQ+wffSrgH5l0iqcbSRXd7XUwYxgAZWKBZTiL/xSY5JkpU757rQDdj0Esth1BqpaWYtp30xvZB8iVKv6b7wYAEwlAqaRXOmRzLAeN5uNArXszr028Xnel9DtUKLN8dNp7MlN0AHxMMTP2qtX2AJ7pkkmZ8nZrnn30ARniApQb6eGKhgay2tAWP8rsQmfMdv+2TeCmSeb6A8o5yckhfW4QxUD/3VSm5RAN998n6Aq6zqRbwo0a68GDrhxw6zvMf8n3l9CVTfKYpsMalSe9bblV9zvPjbtgFydA62/nfJGNqMuCKHiba10OsyFNgLsJtf1FVxmtLYe/xtGiM2bXs+8y7qFxj7ocTGWfcbPJSzSBpj5+YlZXSRmRvZvAqBT1oq2iil8QPfx4="
